.ContactUsContainer {
    position: relative;
    color: white;
    background-image: url('../../../assets/images/Car7.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5rem;
    height: auto;
    width: 91%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    overflow: hidden;
}

.ContactUsContainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 54, 54, 0.886); 
    z-index: 0; 
    border-radius: 12px; 
}

.ContactBox {
    position: relative;
    z-index: 1; 
    max-height: 90%;
    background-color: #000d2a; 
    border-radius: 8px;
    padding: 2rem; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    box-sizing: border-box; 
    margin: auto;
}

.title {
    font-size: xx-large;
}

.formContainer {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    width: 100%; 
    height: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem; 
}

.formGroup {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

input, textarea, select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #0f1de0;
    box-shadow: 0 0 5px rgba(15, 29, 224, 0.5);
}

select {
    appearance: none;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
}

select option {
    padding: 0.5rem;
}

.submitButton {
    color: black;
    border: 2px solid #0f1de0;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    font-weight: bold;
    background-image: linear-gradient(to right, #01C5FD, #0144E4);
    background-clip: text;
    color: transparent;
}
