@media (max-width: 768px) {
    .AboutContainer {
      padding: 20px;
      height: auto; /* Allow the container to grow */
    }
  
    .aboutContent p {
      font-size: 1rem; /* Adjust font size for smaller screens */
    }
    
  }
  